.strip {
  height: 70px;
  background-color: var(--blue);
}

.rabbis-header__container {
  padding: 40px 0;
}

.breadcrumb {
  margin-bottom: 10px;
}

.breadcrumb__items {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 17px;
}

.breadcrumb__item {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: var(--blue-rank-breadcrumb);
}

.breadcrumb__item::after {
  position: absolute;
  content: ">";
  right: -14px;
}

.breadcrumb__item:last-child {
  color: #000;
  pointer-events: none;
}

.breadcrumb__item:last-child::after {
  display: none;
}

.rabbis-header__title {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 13px;
}

.rabbis-header__reaction {
  display: flex;
  align-items: center;
}

.rabbis-header__rating {
  display: flex;
  gap: 14px;
}


.rabbis-header__views-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.5;
  margin-right: 32px;
}

.rabbis-header__thanks-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.5;
}

@media (max-width: 1150px) {
  .strip {
    height: 60px;
  }

  .rabbis-header__container {
    padding: 25px 0;
  }

  .rabbis-header__title {
    font-size: 36px;
    line-height: 35px;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .strip {
    height: 30px;
  }

  .rabbis-header__container {
    padding: 15px 0;
  }

  .rabbis-header__title {
    font-size: 24px;
    line-height: 25px;
  }

  .rabbis-header__reaction {
    display: flex;
    align-items: center;
  }

  .rabbis-header__rating {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .rabbis-header__views-text {
    font-size: 12px;
    margin-right: 12px;
  }

  .rabbis-header__thanks-text {
    font-size: 12px;
  }
}